<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Fincher | Fan page</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Works</li>
            <li>Gallery</li>
        </ul>
    </nav>
    <h1>The Fincher Fan Page</h1>
    <section id="intro">
        <img src="/images/David-Fincher.png" alt="David Fincher">
        <p>We really love David Fincher films. This is why we decided to create this fan page.</p>
        <p> You are very welcome!</p>
    </section>
</body>

</html>