<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>David Fincher | Fan page</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul>
       
        <li>Home</li>
        <li>About</li>
        <li>Works</li>
        <li>Gallery</li>
      </ul>
    </nav>
    <section>
      <h2>FILMS</h2>
      <div class="movies-gallery">
        <div class="movie-wrapper">
          <img class="movie-img" src="/images/seven.jpg" alt="Seven - Movie" />
          <p>Seven - 1995</p>
        </div>

        <div class="movie-wrapper">
          <img
            class="movie-img"
            src="/images/the_game.jpg"
            alt="The Game - Movie"
          />
          <p>The Game - 1997</p>
        </div>

        <div class="movie-wrapper">
          <img
            class="movie-img"
            src="/images/fight_club.jpg"
            alt="Fight Club - Movie"
          />
          <p>Fight Club - 1999</p>
        </div>

        <div class="movie-wrapper">
          <img
            class="movie-img"
            src="/images/panic_room.jpg"
            alt="Panic Room - Movie"
          />
          <p>Panic Room - 2002</p>
        </div>
      </div>
    </section>
  </body>
</html>
