body {
    background-color: rgb(227, 232, 232);
}

nav>ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

h1,
h2,
#intro {
    text-align: center;
}

.movies-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-img {
    width: 20rem;
    height: 27rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.movie-wrapper>p {
    text-align: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-fincher {
    width: 20rem;
    display: flex;
    align-self: center;
    justify-content: center;
}